In [1]:
##Importing the necessary packages
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
pd.set_option('display.max_colwidth',None)
pd.set_option('display.max_columns',None)


# Graphics in retina format are more sharp and legible
%config InlineBackend.figure_format = 'retina'

In [2]:
data = pd.read_csv("worldometer_data.csv")

In [3]:
data.head(2)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,331198130.0,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas

In [4]:
data.shape

(209, 16)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.2+ KB

In [6]:
data = data.rename(columns={"Serious,Critical":"Serious/Critical"})

In [7]:
data.isnull().sum()

Country/Region        0
Continent             1
Population            1
TotalCases            0
NewCases            205
TotalDeaths          21
NewDeaths           206
TotalRecovered        4
NewRecovered        206
ActiveCases           4
Serious/Critical     87
Tot Cases/1M pop      1
Deaths/1M pop        22
TotalTests           18
Tests/1M pop         18
WHO Region           25
dtype: int64

In [8]:
data.dropna(subset=['Continent', "Population"], inplace=True)

In [9]:
#dropping  columns
data.drop(['NewCases', "NewDeaths", 'NewRecovered'], axis = 1, inplace=True)

In [10]:
data['WHO Region'] = data['WHO Region'].fillna("Unknown")

data = data.fillna(0)

In [11]:
data.isnull().sum()

Country/Region      0
Continent           0
Population          0
TotalCases          0
TotalDeaths         0
TotalRecovered      0
ActiveCases         0
Serious/Critical    0
Tot Cases/1M pop    0
Deaths/1M pop       0
TotalTests          0
Tests/1M pop        0
WHO Region          0
dtype: int64

In [12]:
data.head(2)

,Country/Region,Continent,Population,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,Serious/Critical,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,331198130.0,5032179,162804.0,2576668.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,212710692.0,2917562,98644.0,2047660.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas

In [13]:
data = data.astype({"Population":'int', "TotalDeaths":'int', 'TotalRecovered':'int', 'ActiveCases':'int', 
                    'Serious/Critical':'int', 'TotalTests':'int' }) 

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208 entries, 0 to 208
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    208 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    int32
 3   TotalCases        208 non-null    int64
 4   TotalDeaths       208 non-null    int32
 5   TotalRecovered    208 non-null    int32
 6   ActiveCases       208 non-null    int32
 7   Serious/Critical  208 non-null    int32
 8   Tot Cases/1M pop  208 non-null    float64
 9   Deaths/1M pop     208 non-null    float64
 10  TotalTests        208 non-null    int32
 11  Tests/1M pop      208 non-null    float64
 12  WHO Region        208 non-null    object
dtypes: float64(3), int32(6), int64(1), object(3)
memory usage: 17.9+ KB

In [14]:
# Unique Values
each_col = data.columns
for col in each_col:
    print("{}: {}".format(col,len(data[col].unique())))

Country/Region: 208
Continent: 6
Population: 208
TotalCases: 205
TotalDeaths: 150
TotalRecovered: 201
ActiveCases: 179
Serious/Critical: 75
Tot Cases/1M pop: 202
Deaths/1M pop: 108
TotalTests: 191
Tests/1M pop: 191
WHO Region: 7

In [15]:
data.to_csv('cleaned_covid_data.csv')